


			<ul class="nav-panel">
		        {{#each message}}
		            <li>{{this}}</li>
		        {{/each}}
			</ul>


	<div class="row">
		<div class="col-lg-12 text-center v-center">
		  <h1>Application initialized.</h1>
		  <p class="lead"></p>
		</div>
	</div> 




