<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Website</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	 <link href="/css/custom.css" rel="stylesheet">
{{!-- 	 <link href="https://www.formstack.com/forms/css/3/default.css" rel="stylesheet">
	 <link href="http://www.telegraph.co.uk/template/ver1-0/css/screen.css" rel="stylesheet">
 --}}	 <link href='http://fonts.googleapis.com/css?family=Abel|Rubik+One ' rel='stylesheet' type='text/css'>
	<!--
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	-->
	<script src="/js/jquery-11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/lapolla.js"></script>
	<!-- wtf -->

</head>
	<body>
	

		{{#if loggedIn}}
			<nav class="navbar navbar-default " role="banner">
			  <div class="container">
			    <div class="navbar-header">
			      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a href="/" class="navbar-brand med-title">LA POLLA</a>
			    </div>
			    <nav class="collapse navbar-collapse" role="navigation">
			      <ul class="nav navbar-nav">
			        <li>
			          <a href="/ranking">Ranking</a>
			        </li>
			        <li>
			          <a href="/rules">Rules</a>
			        </li>
			        <li>
				        <div class="btn-group user-actions">
				 	
				            <ul class="nav navbar-nav navbar-right">
				                <li class="dropdown">

				                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"> 
				                    	<div class="photo-small">
		                                	<img src="{{getImageRendition loggedIn.avatar 90}}">
					                    	{{loggedIn.username}}  <span class="glyphicon glyphicon-user"></span> <b class="caret"></b>
				                    	</div>
			                    	</a>

				                    <ul class="dropdown-menu">
				                        <li><a href="/games/{{loggedIn.username}}">View your profile</a></li>
				                        <li><a href="/settings">Edit profile</a></li>
				                        <li class="divider"></li>
				                        <li><a href="/logout" id="logout">Logout</a></li>
				                    </ul>
				                </li>
				            </ul>

				        </div>
			        </li>
			      </ul>
			    </nav>

			  </div>
			</nav>
	    {{/if}}


		{{{body}}}

		<div style='position: absolute; bottom: 0; height:40px'>
			{{!-- <h3>this is the footer</h3> --}}
		</div>
	</body>
</html>