<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Website</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	 <link href="/css/custom.css" rel="stylesheet">
	<!--
	 <link href='http://fonts.googleapis.com/css?family=Abel|Rubik+One ' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	-->
	<script src="/js/jquery-11.0.js"></script>
	<script src="/js/lapolla.js"></script>
	<!-- wtf -->

</head>
	<body>
		{{{body}}}

		<div style='position: absolute; bottom: 0; height:40px'>
			{{!-- <h3>this is the footer</h3> --}}
		</div>
	</body>
</html>