


<div class="container">
 	
	<section>
		<div id="section-rules">
			<h2>Results</h2>
		</div>

		<div class="row">
			<div class="col-lg-5">

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Pts</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GF</th>
            <th>GA</th>
            <th>GD</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        	<td>Camerun</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        </tr>
        <tr>
        	<td>Camerun</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        </tr>
        <tr>
        	<td>Camerun</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        </tr>

    </tbody>
</table>		

			</div>
			<div class="col-lg-5">


<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Pts</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GF</th>
            <th>GA</th>
            <th>GD</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        	<td>Brazil</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        </tr>
        <tr>
        	<td>Brazil</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        </tr>
        <tr>
        	<td>Brazil</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        	<td>6</td>
        </tr>

    </tbody>
</table>					
			</div>

		</div>




	</section>

</div>



