
<div class="container">
 	
	<section>
		<div id="section-rules">
			<h2>Rules</h2>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<p>
				La Polla is a game to predict the outcome of the world cup matches in which the participantes can accumulate points from guessing the winner and the score of each match. The objective is to collect points along the entire tournament and who ever accumulates the most points wins.
				</p>
				<p>
					There are a totall of 64 matches in the world cup. The following is the point system:
				</p>
				<p> 
					<ul class="list-group">
					  <li class="list-group-item">
					    <span class="badge">1</span>
					    Asserted Match Winner
					  </li>
					  <li class="list-group-item">
					    <span class="badge">3</span>
					    Asserted Match Score
					  </li>
					  <li class="list-group-item">
					    <span class="badge">5</span>
					    Asserted World Champion
					  </li>
					</ul>					
				</p>
				<p>
					<h4>Example:</h4>
					If the outcome of the match between Colombia vs Uruguay was:
				</p>
				<p>
					Colombia 2 - Uruguay 0
				</p>
								<p> 
					<ul class="list-group">
					  <li class="list-group-item">
					    <span class="badge">3</span>
					    Colombia 2 - Uruguay 0
					  </li>
					  <li class="list-group-item">
					    <span class="badge">1</span>
					    Colombia 1 - Uruguay 0
					  </li>
					  <li class="list-group-item">
					    <span class="badge">0</span>
					    Colombia 1 - Uruguay 2
					  </li>
					</ul>					
				</p>

			</div>
			<div class="clol-lg-8"></div>
		</div>
	</section>

	
	
</div> 	


