#container-fluid {
    margin-left: auto;
    margin-right: : auto;
}

#header {
    display: block;
    background-color: #ccc;
    height: 50px;
}

.photo img {
    
    border: 2px solid #cccccc;
    width: 80px;
    height: 80px;
               -webkit-border-radius: 40px;
               -moz-border-radius: 40px;
               -ms-border-radius: 40px;
               -o-border-radius: 40px;
                border-radius: 40px;
}

#users {
    
   width: 100%;
  }



}

#users ul {
 
    display: inline;
    width: 100%;
 
    
}

#users li {
     list-style: none;
      display: inline;
  }

#users h2 {
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    color: #666666
}

#users h4{
    
    font-size: 18px;
    text-align: center;
    color: #b5b5b5;
    margin-top: -7px;
}

.points {
  
    font-family: 'Abel', sans-serif;
    
    float: left;
    margin-right: 20px;
}

.point-input {
display: inline;
margin-right: auto;
margin-left: auto;
width: 11%;
margin: 0 3px;
height: 30px;
padding: 6px;
font-size: 14px;
text-align: center;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}



.big-text {
    font-family: 'Rubik One', sans-serif;
    font-size: 100px;
    text-align: center;
}


.glyphicon {
width: 100px:

}

.main-nav ul {
    
    height: 59px;
    
    
    width: 70%;
   
    margin-left: 5  0px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.main-nav li {
    margin-right: 100px;
    text-align: center;

}

.score-section {
   
    float: left;
    width: 100%;
    margin-top: 20px;
}
.score-section h3{

font-family: 'Abel', sans-serif;
font-size: 40px;
text-transform: uppercase;
font-weight: 700;
color: #faac16;
}

.btn-default, .btn-success {
    
    margin-top: 35px;
    margin-bottom: 40px;
   
}

.buttons {
    width: 100%;
    
    
}
 
.register-container{
    background: url("../img/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

#register-box {
    width: 35%;
     background-color: #ffffff;
    position: relative;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px 40px 4px 6px;
     opacity: 0.93;
}

#register-box-opacity {

}

.register-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;

}

.register-form  p {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    color: #555555;

}

.toggle {
    background-color: #faac16;
    width: 100%;
    height: 70px;
    font-family: 'Abel', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px 10px;
     border-radius: 0px 40px;
}

.toggle h2 {
    margin-left: 20px;
    font-weight: 700px;

}

.toggle a {
   color: #ffffff;
   }

/*Team nav-panel*/

.nav-panel {
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
    padding: 0px;
    width: 100%;
    font-family: 'Abel', sans-serif;

}
    


.nav-panel img {
    margin-right: 7px;
    margin-left: 7px;
    height: 21px;
    width: 30px;


}

.nav-panel li {
   margin: 15px 10px;
    
    list-style: none; 

    
}

.nav-panel p {
    margin: 0px 4px;


}
    



label {
    font-weight: 400;
}


.panel-body {
    padding:5px;
}

.panel-default>.panel-heading {

}


.panel-heading {
    padding: 3px 10px;
}

.panel-heading h4 {
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-weight: 700;
}



/*----------Rows inside panels--------------*/

.panel-name {
    width: 30%;
    /*background-color:blue;*/
    float: left;
}

.panel-name label {
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;

}

.panel-img {
    width: 10%;
    /*background-color: yellow;*/
    float: left;
}

.panel-input{
    width: 10%;
    /*background-color: green;*/
    float: left;

}

.panel-penalties {
    width: 40%;
    /*background-color:blue;*/
    float: left;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
}


.panel-img img {
    margin: 8px 3px 8px 3px;
    width: 20px;
    
}


.panel-input input{
    
    
    padding: 0px;
    width: 26px;
    height: 26px;
    margin-bottom: 5px;
    margin-top: 5px;
   

}




